*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: green;
}


.main-img-container{
   text-align: center;
   margin-top: 30px;
   margin-left: auto;
   margin-right: auto;
}

.bad-bucky{
    display: inline-block;
}

.instuctions-container{
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#instruction-btn{
    display: inline-block;
    width: 100px;
    height: 50px;
    border-radius: 5%;
}

#instructions-text{
  margin-top: 10px;
  margin-bottom: 10px;
}

#close-instructions{
  margin-top: 5px;
  }

  #close-instructions:hover{
    background-color: orange;
  }

.start-game-btn-container{
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.start-game-btn{
    display: inline-block;
    width: 100px;
    height: 50px;
    border-radius: 5%;
}

#instruction-btn:hover{
    background: orange;
}

.start-game-btn:hover{
    background: orange;
}

#instructions-text{
    color: #fff;
    display: none;
}

#close-instructions{
     display: none;
     margin: 0 auto;
}


#restart-button:hover{
  background-color: #fff;
}



#container{
    position:relative
  }
  

  #canvas1{
     border: 2px solid black;
     background-color:#228B22;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
     max-width: 100%;
     max-height: 100%;
      margin-top: 5%;
  }


  #canvas-main{
    min-width: 100%;
    width: 500;
    height:300px;
  }
  #score-container{
    text-align: center;
  }
  
  #time-container{
    text-align: center;
  }
  
  #life-container{
    text-align: center;
    margin-bottom: 50px;
  }

  #game-over{
      text-align: center;
      display: none;
  }
  
  .btn-container{
    display:flex;
    align-content:center;
    justify-content: center;
  }
  
  #restart-button{
    width: 100px;
    height: 30px;
    background-color:red;
    border: 1px solid #000;
    display: none;
  }
  
  #nxt-level-button{
    width: 100px;
    height: 30px;
    background-color:red;
    text-align: center;
    border: 1px solid #000;
    display: none;
  }
  
  #you-win{
      text-align: center;
      display: none;
  }
  
  .sad-rabbit-container{
    display:flex;
    align-content:center;
    justify-content: center;
  }
  
  #you-lose{
    display:none;
    text-align: center;
    margin-top: 20px;
    }
  
    .happy-rabbit-container{
      display:flex;
      align-content:center;
      justify-content: center;
    }
  
    #you-win-rabbit{
      display:none;
      text-align: center;
      margin-top: 20px;
    }
  
    .direction-btn-container{
      display:flex;
      align-content:center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      margin-top: 10%;
      margin-bottom: 15%;
    }
  
    #up{
      display: none;
      position: absolute;
      right: 45%;
      bottom: 60px;
      width: 15%;
      height: 60px;
       border-style: solid;
      border-color: black;
      background: white;
      margin-top: 50px;
      margin-bottom: 10px;
      }
    #right{
      display: none;
      position: absolute;
      right:30%;
      bottom: 35px;
      width: 15%;
      height: 60px;
      border-style: solid;
      border-color: black;
      margin-top: 50px;
      margin-left: 10px;
      }
    #down{
      display: none;
      position: absolute;
      right:45%;
      bottom:10px;
      width: 15%;
      height: 60px;
      border-style: solid;
      border-color: black;
      margin-top: 50px;
     }
    #left{
      display: none;
      position: absolute;
      right:60%;
      bottom: 35px;
      width: 15%;
      height: 60px;
      border-style: solid;
      border-color: black;
      margin-top: 50px;
      margin-right: 0px;
    }

    #orientation-warning{
      display: none;
    }


    #portrait-rabbit-container{
      display: none;
    }

    #portrait-rabbit {
      display: none;
    }

  
  
  @media screen and (max-width: 912px) {
     #canvas{
      height: 300%;
     }
    
    #up{
       display:block;
       margin-top: 50%;
       height: 30px;
       bottom: 20px;
     }
     #right{
      display:block;
      margin-top: 50%;
      height: 30px;
      bottom: 0px;
     }
     #down{
      display:block;
      margin-top: 50%;
      height: 30px;
      bottom: 0px;
     }
     #left{
      display:block;
      margin-top: 50%;
      height: 30px;
      bottom: 0px;
     }
     
     
    #orientation-warning{
      display: none;
    }


    #portrait-rabbit-container{
      display: none;
    }

    #portrait-rabbit {
      display: none;
    }
  }
  
  @media only screen and (max-width: 916px) and (orientation: landscape){
    #canvas1{
      display: none;
    }

    #up{
      display: none;
    }

    #right{
      display: none;
    }

    #down{
      display: none;
    }

    #left{
      display: none;
    }

    #orientation-warning{
      display: block;
      text-align: center;
      margin-top: 5%;
    }

    #portrait-rabbit-container{
      display: block;
      text-align: center;
      margin-top: 15px;
      
    }

    #portrait-rabbit{
      display: block;
    }

    #score-container{
      display: none;
    }

    #score{
      display: none;
    }

    #life-container{
      display: none;
    }

    #lives{
      display: none;
    }

    #time-container{
      display: none;
    }

    #time{
      display: none;
    }
  }
 
  
  